@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Protest+Revolution&display=swap');

@font-face{
    font-family: brushstroke;
    src: url('./fonts/Amanojaku.otf') format('opentype');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

h1 {
    text-align: center;
}

.title {
    display:inline;
    font-family: "brushstroke", sans-serif;
    outline: 5px solid blue;
    padding: 5px;
}

.head-img {
    display: flex;
    justify-content:center;
    gap: 10.5px;
}

.main-img {
      display: block; 
      outline: 5px blue dotted;
}

.head-img .column1 {
    display: inline-flex;
    flex-direction:column;
    gap: 5px;
}

.head-img .column2 {
    display: inline-flex;
    flex-direction:column;
    gap: 5px;

}

.hokkaido-head,
.tohoku-head,
.kanto-head,
.kansai-head {
    outline: 5px solid blue;
    width: 350px;
    height: 200px;
    flex-grow: 1;
}

body {
    color: blue;
    font-family: "Hina Mincho", sans-serif;
    font-size: large;
    margin: 50px;
}